<!DOCTYPE html>
<html>
<head>
	<title>{{social_type}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<meta charset="utf-8">
</head>
<body>
	<h1>{{head}}</h1>
	<img src="static/images/{{image}}">
	{% block content %}{% endblock %}
</body>
</html>