<!DOCTYPE html>
<html>
	<head>
		<title>Тест на социотип</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	</head>
	<body>
		<h1>Тест на социотип</h1>
		<h4>Выбирайте те утверждения, которые считаете, более приемлимыми по отношению к себе</h4>
		<hr>
		<form method="post">
            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q1" value="rational">
                  <label class="form-check-label">
                    Обычно я не стараюсь сдерживать эмоции или скрывать свои чувства. Точно так же вряд ли кто другой сможет скрыть от меня свое настроение под напускной маской.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q1" value="unrational">
                  <label class="form-check-label">
                    Я стараюсь, чтобы на мои действия не влияли ни мои эмоции, ни мои чувства. Мои симпатии и антипатии не играют решающей роли при принятии решений.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q2" value="rational">
                  <label class="form-check-label">
                    Мне нравится все новое и необычное. У меня хорошо получается экспериментировать и придумывать новое.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q2" value="unrational">
                  <label class="form-check-label">
                    А я предпочитаю известные и проверенные методы решения сложных задач. Зачем заново «изобретать колесо»? Да и ко всему новому отношусь с изрядной долей скептицизма. 
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q3" value="rational">
                  <label class="form-check-label">
                    Случается, что я сначала прихожу к какому-либо умозаключению, а уж потом обосновываю его.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q3" value="unrational">
                  <label class="form-check-label">
                    Важные вопросы стараюсь решать последовательно и планомерно.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q4" value="rational">
                  <label class="form-check-label">
                    Люблю работать быстро, не раздумывая по пустякам.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q4" value="unrational">
                  <label class="form-check-label">
                    Люблю вдумываться в каждую деталь, забывая следить за временем.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q5" value="rational">
                  <label class="form-check-label">
                    В непредсказуемых обстоятельствах я чувствую себя немного неуверенно и скованно.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q5" value="unrational">
                  <label class="form-check-label">
                    Нестандартная ситуация активизирует меня. 
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q6" value="sense">
                  <label class="form-check-label" for="rational">
                    Если я вижу, что от меня ждут извинений, мне не составляет труда попросить прощения, даже если совсем не чувствую за собой вины.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q6" value="intt">
                  <label class="form-check-label">
                    Мне тяжело просить прощения. Когда я действительно осознаю свою вину, в этом случае я просто стараюсь загладить ее.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q7" value="sense">
                  <label class="form-check-label">
                    Не люблю тратить время на кропотливую и долгую работу, бываю невнимателен к деталям, часто делаю фактические ошибки. Ненавижу застойные ситуации.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q7" value="intt">
                  <label class="form-check-label">
                    Могу долго без раздражения заниматься рутинной работой. С фактами обращаюсь аккуратно.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q8" value="sense">
                  <label class="form-check-label">
                    Я доверяю обычно только своему собственному мнению. Но если большинство придерживается противоположной точки зрения, я не стану навязывать свое мнение, хотя и не откажусь от него.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q8" value="intt">
                  <label class="form-check-label">
                    Я быстро и плавно меняю своё мнение взависимости от ситуации.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q9" value="sense">
                  <label class="form-check-label">
                    Обычно я не стараюсь сдерживать эмоции или скрывать свои чувства. Точно так же вряд ли кто другой сможет скрыть от меня свое настроение под напускной маской.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q9" value="intt">
                  <label class="form-check-label">
                    Я стараюсь, чтобы на мои действия не влияли ни мои эмоции, ни мои чувства. Мои симпатии и антипатии не играют решающей роли при принятии решений.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q10" value="sense">
                  <label class="form-check-label">
                    В трудных ситуациях полагаюсь лишь на свой опыт, свои собствественные чувства, горячо оцениваю саму ситуацию
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q10" value="intt">
                  <label class="form-check-label">
                    В трудных ситуациях пытаюсь положиться на своё нутро и видение дальнейшего развития ситуации
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q11" value="e">
                  <label class="form-check-label">
                    Я уверен в том, что хорошо разбираюсь в отношениях между людьми. От меня не скроешь, кто кому нравится и кто кого ненавидит.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q11" value="l">
                  <label class="form-check-label"">
                    А я не могу так уверенно говорить о взаимоотношениях среди моих знакомых, разве что у меня будут какие-то неоспоримые доказательства.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q12" value="e">
                  <label class="form-check-label">
                    Обычно я знаю, как уговорить или попросить человека что-либо сделать.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q12" value="l">
                  <label class="form-check-label">
                    Я предпочитаю убеждать человека силой логических доводов.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q13" value="e">
                  <label class="form-check-label">
                    Я могу довольно долгое время терпеть неудобства, но нуждаюсь в человеке, который мог бы устроить «рай и в шалаше». В моих вещах часто царит «творческий» беспорядок.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q13" value="l">
                  <label class="form-check-label">
                    Пытаюсь свести все неудобства к минимуму. В моих вещах всегда чистота и порядок
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q14" value="e">
                  <label class="form-check-label">
                    Мир полон неожиданностей. Планируй не планируй — реальность все равно преподнесет непредвиденные сюрпризы. Я довольно неплохо приспосабливаюсь к изменяющимся обстоятельствам.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q14" value="l">
                  <label class="form-check-label">
                    Я обычно заранее продумываю свои действия, стараюсь в уме проиграть возможное развитие ситуации и разные пути ее решения.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q15" value="e">
                  <label class="form-check-label">
                    А я предпочитаю не «идти в гору», а обходить ее и не лезть напролом в достижении цели.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q15" value="l">
                  <label class="form-check-label">
                    К своей цели иду последовательно, руководствуясь планом.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q16" value="intr">
                  <label class="form-check-label">
                    Я обожаю фантазировать! Мой выдуманный мир настолько меня увлекает, что я бываю иногда жутко рассеянным.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q16" value="extr">
                  <label class="form-check-label">
                    Фантазии фантазиями, но мы то живем «здесь и сейчас», а поэтому я практически никогда не забываю о насущных проблемах.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q17" value="intr">
                  <label class="form-check-label">
                    Я очень избирателен в общении. Редко кому могу рассказать о своих переживаниях.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q17" value="extr">
                  <label class="form-check-label">
                    У меня много друзей и еще больше знакомых. Я легко завожу новые знакомства.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q18" value="intr">
                  <label class="form-check-label">
                    А я могу начать несколько дел сразу, но, если мне что-то надоест, не довести их до конца. В работе мне необходимо вдохновение.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q18" value="extr">
                  <label class="form-check-label">
                    Стараюсь доводить начатое дело до конца. Не люблю заниматься несколькими делами одновременно: это мешает мне сосредоточиться.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q19" value="intr">
                  <label class="form-check-label">
                   Я люблю, когда все вокруг меня кипит. Обожаю разнообразие, веселые компании, активное общение.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q19" value="extr">
                  <label class="form-check-label">
                    Я, конечно, не против общения, но все-таки быстро устаю от него. Мне необходимо периодически быть только наедине с собой.
                  </label>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q20" value="intr">
                  <label class="form-check-label">
                    Не люблю, когда срываются мои планы.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="q20" value="extr">
                  <label class="form-check-label">
                    Не люблю слишком четкие рамки. Они меня сковывают.
                  </label>
                </div>
            </div>
            <hr>

            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </form>
	</body>
</html>